extends ../layouts/common.pug
block content
  .container
    .row
     .col-12
        a.badge.badge-primary.p-4(href='/books') Books
     .col-12
        a.badge.badge-secondary.p-4(href='/users') Users
     .col-12
        a.badge.badge-success.p-4(href='/transactions') Transactions

