extends ../../layouts/common.pug

block content
  h1 Update username

  form(action="/users/update", method="POST")
    lable New name
    br
    input(type="hidden", name="id", value=id)
    input(type="text", name="name")
    button Update
    
    div
      a(href="/users") Return